<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sprint.name %>
</p>

<p>
  <b>Notes:</b>
  <%= @sprint.notes %>
</p>

<p>
  <b>Start date:</b>
  <%= @sprint.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @sprint.end_date %>
</p>


<%= link_to 'Edit', edit_sprint_path(@sprint) %> |
<%= link_to 'Back', sprints_path %>
